@model IEnumerable<TH_LTWeb.Models.Sach>
@{
    ViewBag.Title = "SachTheoChuDe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 class="text-center">SÁCH THEO CHỦ ĐỀ</h2>
<div class="row text-center">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/Images/@sach.AnhBia" alt="@sach.Name"
                     class="img-responsive img-rounded imgbook" />
                <div class="caption">
                    <h4 style="min-height: 70px;">
                        <a href="@Url.Action("ChiTietSach","SachOnline",new {id = sach.Id})">
                            @sach.Name
                        </a>
                    </h4>
                    <p>
                        <a href="@Url.Action("ThemGioHang", "GioHang", new { ms = sach.Id, url = Request.Url.ToString() })" class="btn btn-primary" role="button">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

